.filter-switch label {
  cursor: pointer;
  border: solid;
  border-width: 2px 2px;
  border-color: rgb(31 41 55 / var(--tw-text-opacity));
}

.filter-switch-item input:checked + label {
  background-color: rgb(31 41 55 / var(--tw-text-opacity));
  color: white
}

.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.panel {
  display: block;
  border-style: dashed;
  border-width: 2px 2px;
  border-color: rgb(31 41 55 / var(--tw-text-opacity));
}

.border-left {
  border-style: dashed;
  border-left-width: 2px;
  border-color: rgb(31 41 55 / var(--tw-text-opacity));
}

.border-right {
  border-style: dashed;
  border-right-width: 2px;
  border-color: rgb(31 41 55 / var(--tw-text-opacity));
}

.border-left-predict {
  border-left-style: solid;
  border-left-width: 12px;
}

.img {
  height: 100%;
  width: 100%;
}