<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MI-2023 Deformidades</title>
		<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
		<link rel="stylesheet" href="../static/style.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
 
	<body>
		<header>
			<nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
				<div class="flex flex-wrap justify-between items-center">
					<a href="#" class="flex items-center">
						<img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
						<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white py-1">Clasificador de deformidades en frutas</span>
					</a>
				</div>
			</nav>
		</header>
		
		<main class="px-4 py-2.5">
			<div class="grid grid-cols-2 gap-1">
				<div class="w-full main-panel">
					<div class="fruits-selection">
						<h2 class="font-bold text-lg">Seleccione la fruta que desea clasificar:</h2>
						<ul id="fruits-selection" class="filter-switch flex flex-row justify-around items-center h-12 p-1 space-x-1 font-semibold my-4">
							<li class="filter-switch-item">
								<input type="radio" name="r_fruit" id="r_manzana" class="sr-only" value="manzana" checked>
								<label for="r_manzana" class="block w-32 py-2 px-6 text-base text-center leading-6 text-gray-600 hover:text-gray-800 bg-white rounded-3xl shadow">
									Manzana
								</label>
								<div aria-hidden="true" class="filter-active"></div>
							</li>
							<li class="filter-switch-item">
								<input type="radio" name="r_fruit" id="r_mango" class="sr-only" value="mango">
								<label for="r_mango" class="block w-32 py-2 px-6 text-base text-center leading-6 text-gray-600 hover:text-gray-800 bg-white rounded-3xl shadow">
									Mango
								</label>
							</li>
							<li class="filter-switch-item">
								<input type="radio" name="r_fruit" id="r_fresa" class="sr-only" value="fresa">
								<label for="r_fresa" class="block w-32 py-2 px-6 text-base text-center leading-6 text-gray-600 hover:text-gray-800 bg-white rounded-3xl shadow">
									Fresa
								</label>
							</li>
						</ul>					
					</div>

					<div class="image-selection">
						<center>
							<form class="bg-white rounded px-8 pt-6 pb-8 mb-4" method="POST" action="/predict" enctype="multipart/form-data">
								<input class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] font-normal leading-[2.15] text-gray-800 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-gray-800 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-gray-700 focus:border-primary focus:text-gray-800 focus:shadow-te-primary focus:outline-none dark:border-gray-800 dark:text-neutral-900 dark:file:bg-gray-800 dark:file:text-neutral-100 dark:focus:border-primary" aria-describedby="file_input_help" type="file" name="file"><br>
								<input type="submit" class="py-3 px-8 dark:bg-gray-800 shadow-xl hover:bg-gray-700 text-white font-bold rounded-full" value="Predecir"></button>
							</form>
						</center>
						
                        <div class="col-lg-5" style="padding-top:30px">
							<span class="border border-primary">
								<img src="{{ user_image }}" alt="User Image" class="img-thumbnail" style="width:250px;height:250px;float:right">
							</span>
						</div>
					</div>
				</div>

				<div class="w-full second-panel">
					<div id="block_references" class="panel my-3 py-2.5 px-2.5">				
						<h2 class="font-bold text-lg">Imágenes de Referencia</h2>
						<div id="imgs_reference" class="py-2 grid grid-cols-3 content-stretch"></div>
						<p class="font-sans text-xs font-normal leading-tight">Si la fruta se encuentra con un grado de deformidad mayor al de las imágenes mostradas, será categorizada como "Sin Clase". Imágenes obtenidas del conjunto de entrenamiento.</p>					
					</div>

					<div id="block_models" class="panel my-3 py-2.5 px-2.5">
						<h2 class="font-bold text-lg">Información del modelo</h2>
						<div id="info_models"></div>
					</div>

					<div id="block_prediction" class="panel my-3 py-2.5 px-2.5">
						<h2 class="font-bold text-lg">Predicción</h2>
                        <h4>Clase: <mark style="background-color:#04aa6d;color:white;border-radius:5px">{{class}}</mark></h4>
                        <h4>Probabilities : {{prob}}</h4>
					</div>
				</div>
			</div>
		</main>
		
		<footer>
		</footer>
	 
		<script src="/static/index.js" charset="utf-8"></script>
	</body>
 
</html>